@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Montserrat, "Source Han Sans CN-blod", serif;

}

.nav-item {
  @apply cursor-pointer relative;
}

.nav-item.active {
  @apply text-primary;
}

.nav-item.active:after {
  content: "";
  @apply absolute left-0 -bottom-1 h-[1px] w-full bg-primary;
}

.title {
  @apply text-[48px] font-bold;
}

.subtitle {
  @apply text-[24px] font-bold;
}

.dot-text {
  @apply pl-3 relative;
}

.dot-text:after {
  content: '';
  @apply block absolute left-0 top-[8px] w-[3px] h-[3px] bg-black rounded-full;
}

.desc {
  @apply text-sm text-[#666];
}

.screen {
  @apply border border-[#DAB68C] rounded-[20px] p-4;
}

.screen-dot {
  @apply w-[8px] h-[8px] bg-[#DAB68C] rounded-full;
}

.screen-bar {
  @apply bg-[#DAB68C] h-[8px] rounded-full bg-opacity-20;
}

.screen-content {
  @apply bg-white bg-opacity-50 rounded-[16px] p-4 leading-6 text-[#55453C] text-sm;
}

.link-icon {
  @apply cursor-pointer;
}

.link-icon:hover path {
  @apply fill-white;
}

.feature-button {
  @apply bg-white rounded-xl py-2 px-6 text-primary;
  box-shadow: 0px 8px 14px 0px #D8B08233;
}

.why-button {
  visibility: hidden;
  @apply bg-gradient-to-r from-[rgb(255,150,79)] to-[rgb(230,59,11)] flex opacity-0 mt-1 transition-all duration-500;
  @apply py-3 px-6 rounded-2xl text-white font-semibold items-center gap-2;
}

.why-button.active {
  visibility: visible !important;
  @apply opacity-100 mt-0;
}

.rower-header>div {
  @apply py-5 px-6;
}

.rower>div {
  @apply py-5 px-6 border-b border-b-[#F0E7E1] text-[14px] flex items-center border-x border-x-[#f0e7e1];
}

.rower>div.rower-primary {
  @apply bg-[rgba(252,120,35,0.1)] border-b border-b-[rgba(252,120,35,0.2)] font-semibold border-x border-x-transparent;
}

.why-popover {
  @apply absolute border border-primary p-4   rounded-2xl top-4 z-50 text-[#373C4F] bg-[rgba(250,247,243,.6)];
}

.why-popover.active {
  @apply text-white bg-gradient-to-br from-[#FC7823] to-[#FF2F00];
}

@font-face {
  font-family: 'fontHlc';
  src: url('../public/font/Helvetica LT Condensed Black.ttf') format('truetype');
}


.slick-vertical .slick-slide{
  border: none !important;

}

.scrollable-content {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  height: 62px;
  font-weight: 300;

}


tr.no-border th {
  border: none;
}

tr.title td {
  width: 100px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}


/* th:first-child, td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #f6ede6; 
} */


.input-Text,input::placeholder {
  font-size: 16px;
  font-weight: 500;
  text-indent: 20px;
}


.custom-background {
  background-image: linear-gradient(to left, #000000 50%, transparent 10%), linear-gradient(to left, #000000 30%, transparent 10%), linear-gradient(to top, #000000 40%, transparent 10%), linear-gradient(to top, #000000 30%, transparent 10%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 1px, 0, 1px 9px, 1px 9px;
}


input {
  outline: none; 
}


#modal{
  background-color: rgba(26, 26, 26, 0.20);
  backdrop-filter: blur(5px);
}


.border-gradient {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #FFBA04 0%, #FC7823 100%);
  border-image-slice:1 ;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 80px;
  background-color: #E08900;
  margin-left: 8px;
  animation: blink .10s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}




.borders {
    border-radius: 80px;
    box-shadow: 
      inset 0 0 0 2px rgba(255, 186, 4, 1) ,
      inset 0 0 0 2px rgba(252, 120, 35, 1) ;
  
}



/* .tab {
  width: 150px;
  height: 120px;
  border-bottom-left-radius:3000px;
  border-bottom-right-radius:3000px;
  background-color: black;


} */

.tab {
  width: 150px;
  height: 90px;
  background: black;
  border-radius: 104px 104px 0 0;
  position: relative;
  /* 添加旋转和景深 */
  transform: rotate(180deg);

}
.tab::before,
.tab::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  background: #000;
}
.tab::before {
  left: -9px;
  background: radial-gradient(
      circle at 0 0, 
      transparent 10px, 
      black 1px
  );
}
.tab::after {
  right: -9px;
  background: radial-gradient(
      circle at 100% 0, 
      transparent 10px, 
      black 10px

  );
}


.typewriter h1 {
  overflow: hidden; 
  white-space: nowrap;
  margin: 0; 
}

.typewriter h1::after {
  content: '|'; 
  display: inline-block;
  margin-left: 8px;
  animation: blink .10s linear infinite alternate;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}


.architecture-info-right {
  position: relative;
  background: rgba(0, 37, 63, 0.2);
  border: 1px solid #E08900;
  .border_corner {
    z-index: 10;
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #E08900;
  }
  .border_corner_left_top {
    top: -5px;
    left: -5px;
    border-radius: 30px;
    background-color: white;
  }
  .border_corner_right_top {
    top: -5px;
    right: -5px;
    border-radius: 30px;
    background-color: white;
  }
  .border_corner_left_bottom {
    bottom: -5px;
    left: -5px;
    border-radius: 30px;
    background-color: white;
  }
  .border_corner_right_bottom {
    bottom: -5px;
    right: -5px;
    border-radius: 30px;
    background-color: white;
  }
}


.slick-list {
   display: flex;
   gap: 40px;
}


.borderLine {
  z-index: 2500;
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0);
}
.leftLine{
  top: 5px;
  left: -4px;
  border-radius: 30px;
  background-color: white;
}

  
  .swipe-section {
    position: relative;
    height:900px;
    width: 100%;
    overflow: hidden;
  }
  
  .swipe-section .panel {
    position: absolute;

  }
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-start,
.gsap-marker-scroller-start,
.gsap-marker-end
{
  visibility: hidden;

}  

.border-with-image {
  position: relative;
  border: 2px dashed white;
  padding: 20px;
  width: 100px;
  display: flex;
  justify-content: center;

}




.outline {
  height: 300px;
  width: 430px;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  outline: 2px solid transparent;

  background: 
          linear-gradient(90deg, white 50%, transparent 0) repeat-x,
          linear-gradient(90deg, white 50%, transparent 0) repeat-x,
          linear-gradient(0deg, white 50%, transparent 0) repeat-y,
          linear-gradient(0deg, white 50%, transparent 0) repeat-y;
  background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .3s infinite linear;
  .border_corner {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #E08900;
  }
  .border_container_top{
    position: relative;
    top:-355px;
    left: 170px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: white;
    transform: rotate(-135deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
  }
  .border_container_left_bottom {
    position: relative;
    left: -215px;
    top:-450px;
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: white;
    transform: rotate(-225deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
  }
  .border_container_right{
    position: relative;
    right: -325px;
    top:-310px;
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: white;
    transform: rotate(315deg);
    margin: 50px auto auto 100px;
    background-color: #000000;

  }
  .border_container_bottom{
    position: relative;
    right: 1px;
    top:-350px;
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: white;
    transform: rotate(400deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
  }
 
}

@keyframes linearGradientMove {
  100% {
      background-position: -20px 0, 20px 100%, 0 20px, 100% -20px;
  }
} 
@keyframes linearGradientMove2 {
  100% {
      background-position: -20px 0, -20px 100%, 0 20px, 100% 20px;
  }
} 
.border_container_top_img {
  content: ' ';
  position: relative;
  top: -360px;
  left: 190px; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../public/users.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;

}

.border_container_left_img {
  content: ' ';
  position: relative;
  top: -420px;
  left: -20px; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../public/layer2s.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;

}


.border_container_left_img::before {
  content: 'Layer2s';
  position: relative;
  color: white;
  top: 100%;
  left: -5px; 
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #000000;
  z-index: 1;
}
.border_container_right_img{
  content: ' ';
  position: relative;
  top:-295px;
  left: 405px; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../public/dataInterface.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}

.border_container_right_img::before{
  content: 'Data Onchain Interface';
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: white;
  top: 100%;
  left: -60px; 
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #000000;
  z-index: 1;
}

.border_container_bottom_img{
  content: ' ';
  position: relative;
  top:-360px;
  left: 120px; 
  transform: translateY(-50%);
  width: 230px;
  height: 50px;
  background-image: url('../public/nEthDA.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}




.outline2 {
  height: 300px;
  width: 470px;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  outline: 2px solid transparent;
  background: 
          linear-gradient(90deg, #E08900 50%, transparent 0) repeat-x,
          linear-gradient(90deg, #E08900 50%, transparent 0) repeat-x,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y;
  background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove2 .3s infinite linear;
  .border_corner {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #E08900;
  }
  .border_container_top2{
    
    position: relative;
    top:-355px;
    left: 200px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(-225deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
  }
  .border_container_top_line{
    position: relative;
    top: -350px;
    left: 300px;
    border-left: 1px dashed #E08900;
    height: 10px;
  }
  .border_container_left_bottom2 {
    position: relative;
    left: -215px;
    top:-360px;
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(-225deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
  }
  .border_container_right2{
    position: relative;
    left: 545px;
    top:-360px;
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(-225deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
  }
}


.border_container_left_img2 {
  content: ' ';
  position: relative;
  top: -325px;
  left: -20px; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../public/y-users.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;

}
.border_container_right_img2 {
  content: ' ';
  position: relative;
  top: -210px;
  left: 630px; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../public/y-users.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}

.border_container_bottom1{
  content: ' ';
  position: relative;
  top: -225px;
  left: 50px; 
  transform: translateY(-50%);
  width: 120px;
  height: 32px;
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}
.border_container_bottom2{
  content: ' ';
  position: relative;
  top: -255px;
  left: 290px; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../public/das.svg');
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}

.border_container_bottom3{
  content: ' ';
  position: relative;
  top: -307px;
  left: 480px; 
  transform: translateY(-50%);
  width: 120px;
  height: 32px;
  background-size: cover;
  background-color: #000000;
  z-index: 1;
}







.center-pos{
  content: '';
  border-top: 2px solid;
  border-right: 2px solid;
  width: 10px;
  height: 10px;
  border-color: #E08900;
  transform: rotate(315deg);
  margin: 50px auto auto 100px;
  background-color: #000000;
}



.outline3 {
  height: 300px;
  width: 255px;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  outline: 2px solid transparent;
  background: 
          linear-gradient(90deg,#E08900 50%, transparent 0) repeat-x,
          linear-gradient(90deg, #E08900 50%, transparent 0) repeat-x,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y;
  background-size: 20px 1px, 20px 1px, 1px 20px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove3 .3s infinite linear;
}

@keyframes linearGradientMove3 {
  100% {
      background-position: -20px 0, 20px 100%,  0 20px;
  }
} 


.outline4 {
  height: 300px;
  width: 266px;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  outline: 2px solid transparent;
  background: 
          linear-gradient(90deg, #E08900 50%, transparent 0) repeat-x,
          linear-gradient(90deg, #E08900 50%, transparent 0) repeat-x,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y;
  background-size: 20px 1px, 20px 1px, 0 0,1px 20px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove4 .3s infinite linear;
}

@keyframes linearGradientMove4 {
  100% {
      background-position: 20px 0, -20px 100%,0 0,100% 20px;

  }
} 

.center{
  height: 20px;
  width: 1px;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  outline: 2px solid transparent;
  background: 
         0,
          0,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y;
  background-size: 20px 1px, 20px 1px, 1px 20px;
  background-position: 0 0, 0 0, 0 0, 100% 0;
  animation: centerMove .3s infinite linear;

}

.center::before{
  content: ' ';
  display: block;
  position: relative;
    top:-35px;
    left: -105px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(-225deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
}

.centerPos{
  position: relative;
  left: 5px;
  height: 100px;
  width: 1px;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  outline: 2px solid transparent;
  background: 
         0,
          0,
          linear-gradient(0deg, #E08900 50%, transparent 0) repeat-y;
  background-size: 20px 1px, 20px 1px, 1px 20px;
  background-position:  0, 0 0, 0 0, 20px 100%;
  animation: centerMove2 .3s infinite linear;

}


.centerPos::before{
  content: ' ';
  display: block;
  position: relative;
    top:-50px;
    left: -104px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(315deg);
    margin: 50px auto auto 100px;
    background-color: #000000;
}

.leftImg::after{
  content: ' ';
  display: block;
  position: relative;
    top:-110px;
    left: -15px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(-225deg);
    margin: 50px auto auto 10px;
    background-color: #000000;

}
.rightImg::after{
  content: ' ';
  display: block;
  position: relative;
    top:-110px;
    left: 40px;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 10px;
    height: 10px;
    border-color: #E08900;
    transform: rotate(-225deg);
    margin: 50px auto auto 10px;
    background-color: #000000;

}
.centerDas::before{
  content: ' ';
  position: relative;
  border-top: 2px solid;
  border-right: 2px solid;
  top:-41px;
  left: -40px;
  display: block;
  width: 10px;
  height: 10px;
  border-color: #E08900;
  transform: rotate(-315deg);
  margin: 50px auto auto 10px;
  background-color: black;

}
.centerFlag{
  content: ' ';
  position: relative;
  border-top: 2px solid;
  border-right: 2px solid;
  top:-81px;
  left: 60px;
  display: block;
  width: 10px;
  height: 10px;
  border-color: #E08900;
  transform: rotate(225deg);
  margin: 50px auto auto 10px;
  background-color: black;

}

.left::before{
  content: ' ';
  position: relative;
  border-top: 2px solid;
  border-right: 2px solid;
  top:-41px;
  left: -40px;
  display: block;
  width: 10px;
  height: 10px;
  border-color: #E08900;
  transform: rotate(-315deg);
  margin: 50px auto auto 10px;
  background-color: black;

}

@keyframes centerMove2 {
  100% {
      background-position: 0 0, 0 0, 0 -20px;
  }
} 