@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Montserrat, "Source Han Sans CN-blod", serif;

}

.nav-item {
  @apply cursor-pointer relative;
}

.nav-item.active {
  @apply text-primary;
}

.nav-item.active:after {
  content: "";
  @apply absolute left-0 -bottom-1 h-[1px] w-full bg-primary;
}

.title {
  @apply text-[48px] font-bold;
}

.subtitle {
  @apply text-[24px] font-bold;
}

.dot-text {
  @apply pl-3 relative;
}

.dot-text:after {
  content: '';
  @apply block absolute left-0 top-[8px] w-[3px] h-[3px] bg-black rounded-full;
}

.desc {
  @apply text-sm text-[#666];
}

.screen {
  @apply border border-[#DAB68C] rounded-[20px] p-4;
}

.screen-dot {
  @apply w-[8px] h-[8px] bg-[#DAB68C] rounded-full;
}

.screen-bar {
  @apply bg-[#DAB68C] h-[8px] rounded-full bg-opacity-20;
}

.screen-content {
  @apply bg-white bg-opacity-50 rounded-[16px] p-4 leading-6 text-[#55453C] text-sm;
}

.link-icon {
  @apply cursor-pointer;
}

.link-icon:hover path {
  @apply fill-white;
}

.feature-button {
  @apply bg-white rounded-xl py-2 px-6 text-primary;
  box-shadow: 0px 8px 14px 0px #D8B08233;
}

.why-button {
  visibility: hidden;
  @apply bg-gradient-to-r from-[rgb(255,150,79)] to-[rgb(230,59,11)] flex opacity-0 mt-1 transition-all duration-500;
  @apply py-3 px-6 rounded-2xl text-white font-semibold items-center gap-2;
}

.why-button.active {
  visibility: visible !important;
  @apply opacity-100 mt-0;
}

.rower-header>div {
  @apply py-5 px-6;
}

.rower>div {
  @apply py-5 px-6 border-b border-b-[#F0E7E1] text-[14px] flex items-center border-x border-x-[#f0e7e1];
}

.rower>div.rower-primary {
  @apply bg-[rgba(252,120,35,0.1)] border-b border-b-[rgba(252,120,35,0.2)] font-semibold border-x border-x-transparent;
}

.why-popover {
  @apply absolute border border-primary p-4   rounded-2xl top-4 z-50 text-[#373C4F] bg-[rgba(250,247,243,.6)];
}

.why-popover.active {
  @apply text-white bg-gradient-to-br from-[#FC7823] to-[#FF2F00];
}

@font-face {
  font-family: 'fontHlc';
  src: url('../public/font/Helvetica LT Condensed Black.ttf') format('truetype');
}


.slick-vertical .slick-slide{
  border: none !important;

}

.scrollable-content {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  height: 62px;
  font-weight: 300;

}


tr.no-border th {
  border: none;
}

tr.title td {
  width: 100px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}


/* th:first-child, td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #f6ede6; 
} */


.input-Text,input::placeholder {
  font-size: 16px;
  font-weight: 500;
  text-indent: 20px;
}


.custom-background {
  background-image: linear-gradient(to left, #000000 50%, transparent 10%), linear-gradient(to left, #000000 30%, transparent 10%), linear-gradient(to top, #000000 40%, transparent 10%), linear-gradient(to top, #000000 30%, transparent 10%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 1px, 0, 1px 9px, 1px 9px;
}


input {
  outline: none; 
}


#modal{
  background-color: rgba(26, 26, 26, 0.20);
  backdrop-filter: blur(5px);
}


.border-gradient {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #FFBA04 0%, #FC7823 100%);
  border-image-slice:1 ;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 80px;
  background-color: #E08900;
  margin-left: 8px;
  animation: blink .10s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}




.borders {
    border-radius: 80px;
    box-shadow: 
      inset 0 0 0 2px rgba(255, 186, 4, 1) ,
      inset 0 0 0 2px rgba(252, 120, 35, 1) ;
  
}



/* .tab {
  width: 150px;
  height: 120px;
  border-bottom-left-radius:3000px;
  border-bottom-right-radius:3000px;
  background-color: black;


} */

.tab {
  width: 150px;
  height: 90px;
  background: black;
  border-radius: 104px 104px 0 0;
  position: relative;
  /* 添加旋转和景深 */
  transform: rotate(180deg);

}
.tab::before,
.tab::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  background: #000;
}
.tab::before {
  left: -9px;
  background: radial-gradient(
      circle at 0 0, 
      transparent 10px, 
      black 1px
  );
}
.tab::after {
  right: -9px;
  background: radial-gradient(
      circle at 100% 0, 
      transparent 10px, 
      black 10px

  );
}


.typewriter h1 {
  overflow: hidden; 
  white-space: nowrap;
  margin: 0; 
}

.typewriter h1::after {
  content: '|'; 
  display: inline-block;
  margin-left: 8px;
  animation: blink .10s linear infinite alternate;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}


.architecture-info-right {
  height: 80px;
  position: relative;
  margin-left: 8px;
  background: rgba(0, 37, 63, 0.2);
  border: 1px solid #E08900;
  .border_corner {
    z-index: 2500;
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #E08900;
  }
  .border_corner_left_top {
    top: -5px;
    left: -5px;
    border-radius: 30px;
    background-color: white;
  }
  .border_corner_right_top {
    top: -5px;
    right: -5px;
    border-radius: 30px;
    background-color: white;
  }
  .border_corner_left_bottom {
    bottom: -5px;
    left: -5px;
    border-radius: 30px;
    background-color: white;
  }
  .border_corner_right_bottom {
    bottom: -5px;
    right: -5px;
    border-radius: 30px;
    background-color: white;
  }
}


.slick-list {
   display: flex;
   gap: 40px;
}


.borderLine {
  z-index: 2500;
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0);
}
.leftLine{
  top: 5px;
  left: -4px;
  border-radius: 30px;
  background-color: white;
}

  
  .swipe-section {
    position: relative;
    height: 65vh;
    width: 100%;
    overflow: hidden;
  }
  
  .swipe-section .panel {
    position: absolute;

  }
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-start,
.gsap-marker-scroller-start
{
  visibility: hidden;

}  

